body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin:0%;
  
}

article{
   padding-bottom: 4%;
   padding-left: 9%;
   padding-top: 9%;
   padding-right: 0%;
   background-color: green;
   height: 465px;
}
img{
    height: 34%;
    width: 55%;
    border-radius: 50%;
    position: relative;
    left: 195px;
    top: 80px;
    border-style: solid;
    border-color: gray;
    border-width: 4px;
}
h1,h2,h3,p,ul{
    margin-bottom: 20px;
   }
.unlist{
    list-style:none;
    position: relative;
    right: 131px;
}
a{
    text-decoration: none;
}
.Menucolor{
    color: white;
    position: relative;
    left: 72px;
}
p{
    margin-right: 10%;
}
.row1{
    display: flex;
}

aside{
    text-align: center;
    color:white;
    background-color: black;
    background-size: 70px;
    padding-top: 7%;
    padding-bottom: 0.1%;
 }
 header{
    background-color: gray;
    text-align: left;
    padding-left: 20px;
    padding-top: 4%;
    padding-bottom: 15%;
    
 }
 footer{
    font-size: 109%;
    position:relative;
    top:20px;
    right:17px;
 }

.border1{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 60%;
}
div{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-right: 8%;
}
.border2{
    padding-left: 4%;
}
.backtotop{
 position: fixed;
 right: 175px;
 top: 189px ;
}