body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
}

article{
   padding-bottom: 4%;
   padding-left: 6%;
   background-color: green;
   height: 561.2px;
}
img{
    height: 34%;
    width: 55%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px black;
}
h1,h2,h3,p,ul{
    margin-bottom: 20px;
   }
.unlist{
    list-style:none;
    margin-left: -40%;
}
a{
    text-decoration: none;
}
.Menucolor{
    color: white;
    position: relative;
    left: 72px;
}
p{
    margin-right: 10%;
}
.row1{
    display: flex;
}

aside{
    text-align: center;
    color:white;
    background-color: black;
    background-size: 70px;
    padding-top: 4%;
    padding-bottom: 0.1%;
 }
 header{
    background-color: gray;
    text-align: center;
    padding-left: 20px;
    padding-top: 4%;
    padding-bottom: 60%;
 }

